Repository UpConverter/frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint:fix, npm run stylelint:fix, npm run prettier

.lintstagedrc:

{
    "*.{ts,tsx}": "npm run eslint:fix",
    "*.css": "npm run stylelint:fix",
    "*.{ts,tsx,css,html}": "npm run prettier"
}

Change left side to simple header
  src/components/Header/Header.module.css
  src/components/Menu/Menu.module.css
  src/components/Menu/Menu.tsx
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier

Доабвлен общий вид страницы с конвертерами
  package-lock.json
  package.json
  src/app/App.module.css
  src/app/App.tsx
  src/app/styles/index.css
  src/assets/icons/fmn_logo.svg
  src/assets/icons/fmn_logo2.svg
  src/assets/icons/sticker.webp
  src/components/Converter/ConverterHeader/ConverterHeader.module.css
  src/components/Converter/ConverterHeader/ConverterHeader.tsx
  src/components/Converter/ConverterItem/ConverterItem.module.css
  src/components/Converter/ConverterItem/ConverterItem.tsx
  src/components/Converter/ConverterList/ConverterList.tsx
  src/components/Converter/ConverterWidget/ConverterWidget.tsx
  src/components/Converter/index.ts
  src/components/Header/Header.module.css
  src/components/Menu/Menu.module.css
  src/components/Menu/Menu.tsx
  src/pages/MainPage/ui/MainPage.tsx
  src/services/Converters/ConvertersService.ts
  src/services/Converters/index.ts
  src/services/Converters/types.ts
  src/store/index.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier

Main page styled
  src/components/Converter/ConverterItem/ConverterItem.module.css
  src/components/Converter/ConverterItem/ConverterItem.tsx
  src/components/Converter/ConverterList/ConverterList.module.css
  src/components/Converter/ConverterList/ConverterList.tsx
  src/services/Converters/types.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier

Settings routing
  src/components/Settings/SettingsCommon/SettingsCommon.tsx
  src/components/Settings/SettingsConfig/SettingsConfig.tsx
  src/components/Settings/SettingsMenu/SettingsMenu.module.css
  src/components/Settings/SettingsMenu/SettingsMenu.tsx
  src/components/Settings/SettingsMenuItem/SettingsMenuItem.module.css
  src/components/Settings/SettingsMenuItem/SettingsMenuItem.tsx
  src/components/Settings/SettingsWidget/SettingsWidget.tsx
  src/components/Settings/index.ts
  src/pages/SettingsPage/ui/SettingsPage.module.css
  src/pages/SettingsPage/ui/SettingsPage.tsx
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier

Common Settings
  src/components/Settings/SettingsCommon/SettingsCommon.module.css
  src/components/Settings/SettingsCommon/SettingsCommon.tsx
  src/components/Settings/SettingsMenu/SettingsMenu.module.css
  src/components/Settings/SettingsMenu/SettingsMenu.tsx
  src/components/UI/CustomButton/CustomButton.module.css
  src/components/UI/CustomButton/CustomButton.tsx
  src/components/UI/CustomButton/index.ts
  src/components/UI/LabelLine/LabelLine.module.css
  src/components/UI/LabelLine/LabelLine.tsx
  src/components/UI/LabelLine/index.ts
  src/services/CommonSettings/types.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier

Settings Config List added
  src/components/Settings/SettingsCommon/SettingsCommon.module.css
  src/components/Settings/SettingsCommon/SettingsCommon.tsx
  src/components/Settings/SettingsConfig/SettingsConfig.module.css
  src/components/Settings/SettingsConfig/SettingsConfig.tsx
  src/components/Settings/SettingsConfigList/SettingsConfigList.module.css
  src/components/Settings/SettingsConfigList/SettingsConfigList.tsx
  src/components/UI/CustomSelect/CustomSelect.tsx
  src/components/UI/CustomSelect/index.ts
  src/components/UI/LabelLine/LabelLine.module.css
  src/components/UI/LabelLine/LabelLine.tsx
  src/services/CommonSettings/data.ts
  src/services/CommonSettings/types.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier

styles fix
  src/components/Settings/SettingsConfig/SettingsConfig.module.css
  src/components/Settings/SettingsConfigList/SettingsConfigList.module.css
  src/services/CommonSettings/data.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier

Готовая базовая верстка. Требует оптимизации
  src/components/Settings/SettingsConfig/SettingsConfig.module.css
  src/components/Settings/SettingsConfig/SettingsConfig.tsx
  src/components/Settings/SettingsConfigList/SettingsConfigList.module.css
  src/components/Settings/SettingsConfigList/SettingsConfigList.tsx
  src/components/Settings/SettingsMenu/SettingsMenu.module.css
  src/services/CommonSettings/data.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier

UpConverters and Cals added
  src/components/Settings/SettingsCommon/SettingsCommon.tsx
  src/components/Settings/SettingsConfig/SettingsConfig.tsx
  src/components/Settings/SettingsConfigList/SettingsConfigList.tsx
  src/components/UI/CustomSelect/CustomSelect.tsx
  src/services/CommonSettings/data.ts
  src/services/CommonSettings/types.ts
  src/services/Settings/data.ts
  src/services/Settings/types.ts
Due: npm run eslint:fix, npm run prettier

Data comment
  src/services/Settings/data.ts
Due: npm run eslint:fix, npm run prettier

Разделил строчки комментариев
  src/services/Settings/data.ts
Due: npm run eslint:fix, npm run prettier

Api Codogen
  openapi-config.ts
  package-lock.json
  package.json
  src/api/generatedApi.ts
  src/api/getApiUrl.ts
  src/api/splitApi.ts
  src/store/index.ts
Due: npm run eslint:fix, npm run prettier

Добавлена работа с конфигурациями, но без SA
  src/api/generatedApi.ts
  src/app/App.tsx
  src/components/Settings/SettingsCommon/SettingsCommon.tsx
  src/components/Settings/SettingsConfig/SettingsConfig.module.css
  src/components/Settings/SettingsConfig/SettingsConfig.tsx
  src/components/Settings/SettingsConfigDevices/SettingsConfigDevices.module.css
  src/components/Settings/SettingsConfigDevices/SettingsConfigDevices.tsx
  src/components/Settings/SettingsConfigList/SettingsConfigList.tsx
  src/components/UI/CustomSelect/CustomSelect.tsx
  src/services/Settings/types.ts
  src/store/entities/attempt/index.ts
  src/store/entities/attempt/selectors/attemptSelector.ts
  src/store/entities/attempt/slices/attemptSlice.ts
  src/store/entities/attempt/types/AttemptSchema.ts
  src/store/index.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier

Применение конфигурации + Последняя попытку
  src/api/generatedApi.ts
  src/app/App.tsx
  src/components/Settings/SettingsConfigList/SettingsConfigList.tsx
  src/components/Settings/SettingsMenu/SettingsMenu.tsx
  src/components/Settings/SettingsMenu/consts.ts
  src/components/UI/Alert/Alert.tsx
  src/components/UI/Alert/index.ts
Due: npm run eslint:fix, npm run prettier

MainPage UpdateChannels Settings in LocalStorage store хранит cals & upconv
  src/api/generatedApi.ts
  src/components/Converter/ConverterItem/ConverterItem.tsx
  src/components/Converter/ConverterList/ConverterList.module.css
  src/components/Converter/ConverterList/ConverterList.tsx
  src/components/Settings/SettingsCommon/SettingsCommon.tsx
  src/components/Settings/SettingsConfigDevices/SettingsConfigDevices.tsx
  src/components/Settings/SettingsConfigList/SettingsConfigList.tsx
  src/components/Settings/SettingsMenu/SettingsMenu.tsx
  src/store/entities/attempt/constants/errors.ts
  src/store/entities/attempt/constants/labels.ts
  src/store/entities/attempt/constants/saDevice.ts
  src/store/entities/attempt/index.ts
  src/store/entities/attempt/selectors/attemptSelector.ts
  src/store/entities/attempt/slices/attemptSlice.ts
  src/store/entities/attempt/types/AttemptSchema.ts
  src/store/entities/attempt/types/DeviceSchema.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier

Модальное окно с добавлением соединения
  package-lock.json
  package.json
  src/api/generatedApi.ts
  src/components/Settings/DeviceModal/DeviceModal.tsx
  src/components/Settings/SettingsConfigDevices/SettingsConfigDevices.tsx
  src/components/Settings/SettingsConfigList/SettingsConfigList.tsx
  src/components/UI/LabelLine/LabelLine.module.css
  src/store/entities/attempt/slices/attemptSlice.ts
  src/store/entities/attempt/types/DeviceSchema.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier

CRUD Конфигурации Удаление соединения
  src/api/generatedApi.ts
  src/components/Settings/NewConfigButton/NewConfigButton.module.css
  src/components/Settings/NewConfigButton/NewConfigButton.tsx
  src/components/Settings/SettingsConfig/SettingsConfig.module.css
  src/components/Settings/SettingsConfig/SettingsConfig.tsx
  src/components/Settings/SettingsConfigDevices/SettingsConfigDevices.tsx
  src/components/UI/ConfirmModal/ConfirmModal.tsx
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier

Создание конфигурации Обновление всего в соединении
  src/api/generatedApi.ts
  src/components/Converter/ConverterList/ConverterList.tsx
  src/components/Settings/SettingsConfig/SettingsConfig.tsx
  src/components/Settings/SettingsConfigDevices/SettingsConfigDevices.tsx
  src/components/Settings/SettingsConfigList/SettingsConfigList.tsx
  src/store/entities/attempt/constants/saDevice.ts
Due: npm run eslint:fix, npm run prettier

Успешная обработка удаления всех конфигураций
  src/components/Settings/ConfigList/ConfigList.module.css
  src/components/Settings/ConfigList/ConfigList.tsx
  src/components/Settings/SettingsConfig/SettingsConfig.module.css
  src/components/Settings/SettingsConfig/SettingsConfig.tsx
  src/components/Settings/SettingsConfigDevices/SettingsConfigDevices.tsx
  src/components/Settings/SettingsConfigList/SettingsConfigList.module.css
  src/components/Settings/SettingsConfigList/SettingsConfigList.tsx
  src/components/Settings/SettingsMenu/SettingsMenu.tsx
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier

Переименование, фикс store
  src/components/Settings/ConfigConnections/ConfigConnections.module.css
  src/components/Settings/ConfigConnections/ConfigConnections.tsx
  src/components/Settings/ConfigConnectionsTyped/ConfigConnectionsTyped.module.css
  src/components/Settings/ConfigConnectionsTyped/ConfigConnectionsTyped.tsx
  src/components/Settings/DeviceModal/DeviceModal.tsx
  src/components/Settings/SettingsConfig/SettingsConfig.tsx
  src/store/index.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier

Converter типы, стили Смена положений в header Progress Bar при загрузке connections
  src/components/Converter/ConverterItem/ConverterItem.module.css
  src/components/Converter/ConverterItem/ConverterItem.tsx
  src/components/Menu/Menu.tsx
  src/components/Settings/ConfigConnections/ConfigConnections.tsx
  src/services/Converters/types.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier

DevicesGrid Нельзя создать пустую конфиг Общие доступные устройства
  src/api/generatedApi.ts
  src/components/Settings/DeviceModal/DeviceModal.tsx
  src/components/Settings/DevicesGrid/DevicesGrid.module.css
  src/components/Settings/DevicesGrid/DevicesGrid.tsx
  src/components/Settings/NewConfigButton/NewConfigButton.tsx
  src/components/Settings/SettingsDevices/SettingsDevices.module.css
  src/components/Settings/SettingsDevices/SettingsDevices.tsx
  src/components/Settings/SettingsMenu/SettingsMenu.tsx
  src/store/entities/attempt/constants/labels.ts
  src/store/i18n/devices.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier

Доступные устройства CRUD datagrid
  src/api/generatedApi.ts
  src/components/Settings/DeviceFormModal/DeviceFormModal.module.css
  src/components/Settings/DeviceFormModal/DeviceFormModal.tsx
  src/components/Settings/DevicesGrid/DevicesGrid.tsx
  src/components/Settings/SettingsDevices/SettingsDevices.module.css
  src/components/Settings/SettingsDevices/SettingsDevices.tsx
  src/store/i18n/devices.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier

refetch вместо хранения состояний Пофикшен самый главный баг в хранении success attempt
  src/api/generatedApi.ts
  src/components/Converter/ConverterList/ConverterList.tsx
  src/components/Settings/ConfigConnections/ConfigConnections.tsx
  src/components/Settings/DeviceFormModal/DeviceFormModal.tsx
  src/components/Settings/DeviceModal/DeviceModal.tsx
  src/components/Settings/SettingsCommon/SettingsCommon.tsx
  src/components/Settings/SettingsConfig/SettingsConfig.tsx
  src/components/Settings/SettingsDevices/SettingsDevices.tsx
  src/components/Settings/SettingsMenu/SettingsMenu.tsx
  src/store/entities/attempt/index.ts
  src/store/entities/attempt/selectors/attemptSelector.ts
  src/store/entities/attempt/slices/attemptSlice.ts
  src/store/entities/attempt/types/AttemptSchema.ts
  src/store/entities/attempt/types/DeviceSchema.ts
Due: npm run eslint:fix, npm run prettier

Serila number + connected model
  src/api/generatedApi.ts
  src/components/Converter/ConverterList/ConverterList.tsx
  src/store/entities/attempt/constants/saDevice.ts
Due: npm run eslint:fix, npm run prettier

Upconverter State change
  src/api/generatedApi.ts
  src/components/Converter/ConverterItem/ConverterItem.tsx
  src/components/Converter/ConverterList/ConverterList.tsx
  src/components/Settings/ConfigConnections/ConfigConnections.tsx
Due: npm run eslint:fix, npm run prettier

Token instead all params
  src/api/generatedApi.ts
  src/components/Converter/ConverterList/ConverterList.tsx
  src/components/Settings/ConfigConnections/ConfigConnections.tsx
  src/components/Settings/DeviceModal/DeviceModal.tsx
  src/components/Settings/SettingsMenu/SettingsMenu.tsx
  src/store/entities/attempt/index.ts
  src/store/entities/attempt/selectors/attemptSelector.ts
  src/store/entities/attempt/slices/attemptSlice.ts
  src/store/entities/attempt/types/AttemptSchema.ts
Due: npm run eslint:fix, npm run prettier

GridView + ADDSTATE + OneCalError
  README.md
  src/api/generatedApi.ts
  src/app/App.tsx
  src/components/Converter/ConverterHeader/ConverterHeader.module.css
  src/components/Converter/ConverterHeader/ConverterHeader.tsx
  src/components/Converter/ConverterList/ConverterList.module.css
  src/components/Converter/ConverterList/ConverterList.tsx
  src/components/Converter/ConverterModule/ConverterModule.module.css
  src/components/Converter/ConverterModule/ConverterModule.tsx
  src/components/Converter/ConverterWidget/ConverterWidget.tsx
  src/components/Header/Header.tsx
  src/store/entities/upconverter/index.ts
  src/store/entities/upconverter/selectors/upconverterSelector.ts
  src/store/entities/upconverter/slices/upconverterSlice.ts
  src/store/entities/upconverter/types/UpconverterSchema.ts
  src/store/i18n/devices.ts
  src/store/index.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier

env example
  .env.example
Due: none

Change production port
  src/api/getApiUrl.ts
Due: npm run eslint:fix, npm run prettier

Empty list on main page
  src/components/Converter/ConverterError/ConverterError.module.css
  src/components/Converter/ConverterError/ConverterError.tsx
  src/components/Converter/ConverterModule/ConverterModule.module.css
  src/components/Converter/ConverterModule/ConverterModule.tsx
  src/components/Converter/ConverterWidget/ConverterWidget.tsx
  src/store/entities/attempt/constants/errors.ts
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier

Responsibility device grid
  src/components/Settings/SettingsDevices/SettingsDevices.module.css
  src/components/Settings/SettingsDevices/SettingsDevices.tsx
  src/components/Settings/SettingsMenu/SettingsMenu.module.css
Due: npm run eslint:fix, npm run stylelint:fix, npm run prettier

More respomsibility
  src/components/Settings/SettingsDevices/SettingsDevices.module.css
Due: npm run stylelint:fix, npm run prettier
